<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regretion Testing Suite" verbose="1" parallel="false">
    <!--    <listeners>-->
    <!--        <listener class-name=""/>-->
    <!--    </listeners>-->

    <test name="App Test">
        <packages>
            <package name="com.lits.sohanskyy.app"></package>
        </packages>
    </test>
</suite>